body {
    font-family: "fantasy";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #030303;
    background-image: url(images/quiz\ backgroun.jpg);
    background-size: cover;
  }

  .container {
    width: 450px;
    height: 450px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    border-radius: 15px; 
    padding: 30px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.502); 
  }
  
  .form-container {
    display: flex;
  flex-direction: column;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .hidden {
    display: none;
  }
  
  h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 10px;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    font-size: 16px;
    box-shadow: #373737 0 0 5px;
  }
  
  button {
    margin-top: 1rem;
    padding: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border:black;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    font-size: 16px;
    box-shadow: #464646 0 0 5px;
    font-weight: bolder;
    cursor: pointer;
  }
  
  button:hover {
    background: #ffc400;
    box-shadow: #030303 0 3px 10px;
    border-radius: 10px;
    border: none;
  }
  
  p {
    text-align: center;
    margin-top: 13px;
    color: #000000;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffc400; 
    font-size: large;
    font-weight: bolder;
    text-shadow: #1e1d1d 0 0 5px;
    text-decoration: underline;

  }
  