body {
    font-family: "fantasy";
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #AFB1E2;
    color: #000000;
}

.Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
    color: #000000;
}
a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3 {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 0 10px #000000;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    color: rgb(0, 0, 0);
    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;
    height: 100px; 
    margin-right: 15px;
}

.site-name {
    font-size: 24px;
    font: large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
   
marquee {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    background-color: #AFB1E2;
    padding: 10px 0;
    box-shadow: inset 0 0 10px #000000;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffc400; 
    font-style: italic;
    font-weight: bolder;
    text-shadow: #1e1d1d 0 0 5px;
}


footer {
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow: inset 0 0 10px #000000;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}
