/*Css for Index Html & Basic Structures like header an footer*/
:root{
--primary-color:#ffffff;
--Secondry-color:#1F2020;
--tertiary-color:#3dc41f;
}
body {
    font-family: "fantasy";
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:var(--primary-color);
    color: #000000;
}

.Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 25px;
    color: #000000;
    padding: 5px;
    box-shadow: inset 0 0 20px 5px #00000089;
}

::-webkit-scrollbar {
    display: none;

}

.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.slides img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 44px 40px #00000089;
}

.slider-controls {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-controls button {
    background-color: #28751779;
    border-radius: 10px;
    border: none;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    transition: .4s ease-in-out;
}

.slider-controls button:hover {
    background-color: var(--tertiary-color);
    color: #00000089;
    font-size: 25px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color:var(--tertiary-color);
}

h1,
h2,
h3 {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 17px #020202;
    background-color: var(--Secondry-color);
    color: rgb(255, 255, 255);
    height: 130px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.site-name {
    margin-top: 30px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin-left: 14px;
    margin-right: 20px;
    font-style: italic;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    transition: .7s;
}

nav ul li a:hover {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
}

footer {
    background-color: var(--Secondry-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer p {
    color: #fff;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.social-icon {
    margin-top: 40px;
    color: var(--primary-color);
    font-size: 35px;
    text-decoration: none;
    transition: .5s;
}

.social-icon:hover {
    color: var(--tertiary-color);
    text-shadow: 0 7px 10px #fffbfb40;
    transform: translate3d(10px, -10px, 20px);
    font-size: 45px;
}

/*Css for Quiz Page*/
.featured-quizzes {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

.featured-quizzes h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#quizz {
    color: var(--Secondry-color);
    font-size: 50px;
}

.quiz-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.quiz-item {
    background-color: var(--Secondry-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.543);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.5s ease, box-shadow 0.4s ease-in-out;
}

.quiz-item:hover {
    transform: translate3d(10px, -20px, 40px);
    box-shadow: 2px 18px 30px var(--Secondry-color);
}

.quiz-item h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;

}

.quiz-item p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #cecbcb;
}

.quiz-item .start-quiz {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: .4s ease all;
}

.quiz-item .start-quiz:hover {
    background-color: var(--tertiary-color);
    color: #000000;
    box-shadow: 0 0 10px #00000091;
}

#answer {
    margin: 60px;
    box-shadow: 0 0 20px #000000;
    padding: 30px;
    border-radius: 10px;
    background-image: url(images/answeroftheday.png);
    background-size: cover;
    box-shadow: 0 16px 16px #0000009c;
    border: 2px solid #000000;
}

#answer label {
    top: 50px;
    margin-left: 40px;
    color: #000000;
    font-weight: 800;
}

#answer input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 40%;
    background-color: #ffffff6b;
    color: #000000;

}

#answer button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: var(--Secondry-color);
    color: #fff;
    cursor: pointer;
    width: 130px;
    transition: .4s ease-in-out;
}

#answer button:hover {
    background-color: var(--tertiary-color);
    color: #000000;
    box-shadow: 0 0 4px #00000091;
}

/*Css for About Page*/
#about-section {
    margin: 2em;
    padding: 2em;
    background-color: var(--Secondry-color);
    border-radius: 40px;
    border: 1px solid;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2.0em;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #ffffff !important;
}

div {
    margin-bottom: 2em;
}

#contact {
    margin-top: 2em;
    text-align: center;

}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin-top: 0.5em;
    color: #ffffff;
}

#contact-form input,
#contact-form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 1em;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    width: 80%;
    max-width: 400px;
    background-color: var(--primary-color);
}

::placeholder {
    color: rgba(0, 0, 0, 0.715);
    opacity: 1;
}

#contact-form button {
    margin-top: 2rem;
    padding: 0.7em;
    background-color: var(--primary-color);
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 35%;
    max-width: 200px;
    transition: .4s ease-in-out;
}

#points {
    font-size: 30px;
    text-align: center;
    color: var(--tertiary-color);
    transition: .4s ease-in-out;
}

#contact-form button:hover {
    background-color: var(--tertiary-color);
    color: #000000;
}

/*Css for Redeem Page */
.info {
    font-weight: bolder;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--Secondry-color);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 850px;
}

p {
    font-size: 20px;
    color: #000000;
}

main {
    padding: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#redeem {
    color: #ffffff !important;
    font-size: 50px;
}

.card {
    background-color: var(--Secondry-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    top: 0;
    padding: 1em;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.484);
    transition: 0.6s;
}

.card:hover {
    transform: translate3d(10px, -10px, 40px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.765);
}

.card img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border: var(--tertiary-color) solid 2px;

}

.card h2 {
    color: #ffffff;
    font-size: 1.4em;
    margin: 0.5em 0;
}

.card p {
    font-size: 1.2em;
    color: #d7d4d4;
}

.redeem-btn {
    background-color: var(--primary-color);
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 0.7em 1.2em;
    cursor: pointer;
    font-size: 1em;
    transition: .5s;
}

.redeem-btn:hover {
    background-color: var(--tertiary-color);
    color: #000000;
    box-shadow: 0 0 10px #00000091;
}

@media screen and (max-width: 575px) {
    .Welcome {
        font-size: 20px;
    }

    .site-name {
        font-size: auto;
    }

    nav ul li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .hamburger {
        display: block;
    }

    nav ul li a {
        display: grid;
        grid: 1fr / 1fr;
        font-size: 18px;
    }

    .slider {
        height: 200px;
    }

    .info {
        width: auto;
    }

    .card {
        width: 90%;
    }

    #answer {
        margin: 10px;
        height: auto;
    }
    #answer label{
        font-size: 15px;
    }
    #answer button{
        width: 100px;
    }
    #answer input{
        margin-left: 30px;
        width: 180px;
    }
}